<section class="section__cats">
  <div class="section__cats-wrapper">
    <div class="section__cats-description">
      <h2>Питомцы</h2>
      <p>
        Все представители нашего питомника имеют ветеринарный паспорт 
        с отметками о прививках и документ с родословной
      </p>
    </div>

    <ul class="section__cats-category-list">
      <li class="section__cats-category-item category-active" data-category = "male">Коты</li>
      <li class="section__cats-category-item" data-category = "female">Кошки</li>
      <li class="section__cats-category-item" data-category = "kid">Котята</li>
    </ul>

    <div class="section__cats-slider-wrapper">

      <div class="section__cats-slider">

        <div class="section__cats-main-slider">
          <div class="section__cats-slider-prev">
            
          </div>
          <div class="section__cats-slider-main">

          </div>
          <div class="section__cats-slider-next">

          </div>
        </div>
      </div>

      <button class="section__cats-controls-prev">&lt;</button>
      <button class="section__cats-controls-next">&gt;</button>
    </div>

    <a class="btn btn-link" href="#">Смотреть больше</a>
  </div>

</section>