<section class="features">
        <div class="features__description">
          <h2>Почему именно мы?</h2>
          <p>Приобретая  животное в нашем питомнике, вы получите</p>
        </div>

        <ul class="features__list">
          <li class="features__item-wrapper">
            <div class="features__item">
              <svg class="icon-free-vet" width="99" height="107">
                <use xlink:href="#icon-free-vet" x="0" y="0"></use>
              </svg>
              <span>Бесплатное ветеринарное обслуживание 5 лет</span>
            </div>
          </li>
          <li class="features__item-wrapper">
            <div class="features__item">
              <svg class="icon-counseling24" width="107" height="97">
                <use xlink:href="#icon-counseling24" x="0" y="0"></use>
              </svg>
              <span>Консультирование по любому вопросу 24 часа в сутки</span>
            </div>
          </li>
          <li class="features__item-wrapper">
            <div class="features__item">
              <svg class="icon-food-selection" width="71" height="108">
                <use xlink:href="#icon-food-selection" x="0" y="0"></use>
              </svg>
              <span>Индивидуальный подбор питания для вашего кота</span>
            </div>

          </li>
        </ul>
    
</section>