<footer>
  <div class="contacts">
    <div class="adress">
      <span>Новосибирск, Пушкинский проспект, 19</span>
    </div>
    <div class="phone-number">
      <span>+7 (383) 900-64-65</span>
    </div>
  </div>
  <div class="socials">
    <svg class="social__icon reviews__icon reviews__icon--tw" width="17" height="12">
      <use xlink:href="#icon-tw" x="0" y="0"></use>
    </svg>
    <svg class="social__icon reviews__icon reviews__icon--vk" width="13" height="8">
      <use xlink:href="#icon-vk" x="0" y="0"></use>
    </svg>
  </div>
  <div class="logo">
    <svg class="crown crown--header" width="55" height="25">
      <use xlink:href="#icon-crown" x="0" y="0"></use>
    </svg>
</div>
</footer>