<header class="main-header">
  <div class="logo">
      <svg class="crown crown--header" width="55" height="25">
        <use xlink:href="#icon-crown" x="0" y="0"></use>
      </svg>
  </div>
  <div class="header__info-wrapper">
    <div class="header__info">
      <p>Новосибирск</p>
      <h1>Питомник Мейн-Кунов</h1>
      <p>Первый питомник с расширенным спектром услуг</p>
      <a class="btn btn-link" href="#">Смотреть котиков</a>
  </div>
  </div>

</header>