<div class="modal-wrapper modal-hidden">
  <div class="new-review-modal">
    <h2>Новый отзыв</h2>
    <form class="new-review">
      <div class="row">
        <div class="col">
          <div class="inputBox">
            <input type="text" name="firstName" class="first-name" required>
            <label for="first name">Имя</label>
            <span class="line"></span>
          </div>
        </div>
        <div class="col">
          <div class="inputBox">
            <input type="text" name="lastName" class="last-name" required>
            <label for="last name">Фамилия</label>
            <span class="line"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="inputBox">
            <input type="email" name="email" required>
            <label for="email">Электронная почта</label>
            <span class="line"></span>
          </div>
        </div>
        <div class="col">
          <div class="inputBox">
            <input type="tel" name="phone" required>
            <label for="phone">Телефон</label>
            <span class="line"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="inputBox">
            <textarea class="review-text" name="reviewText" required></textarea>
            <label for="review">Напишите Ваш отзыв...</label>
            <span class="line"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <input type="submit" value="Ok">
        </div>
      </div>
    </form>
    <button class="modal-close-btn">X</button>
  </div>

</div>