<section class="reviews">
  <div class="reviews__description">
    <h2>Отзывы</h2>
  </div>

  <ul class="reviews__list">
    <div class="reviews__main-slider">
      
    </div>
    <button class="reviews-controls-prev">&lt;</button>
    <button class="reviews-controls-next">&gt;</button>
  </ul>

  <button class="btn create-new-review">Написать отзыв</button>
</section>
